extends layouts/main-layout.pug

block content
    if !profileUser
        span.errorMessage User not found
    else
        .profileHeaderContainer
            .coverPhotoContainer 

                .userImageContainer 
                    img(src=profileUser.profilePic, alt="User's profile image")
        .postsContainer

        +createPostModals(userLoggedIn)

block scripts
    script(src="/js/profile.js")