mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src='./images/profilePic.png', alt="User's profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="What's happening?")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post